@tailwind base;
@tailwind components;
@tailwind utilities;

.font-weight-600 {
    font-weight: 600;
  }
  
  .text-size-12 {
    font-size: 12px;
  }
  
  .line-height-18 {
    line-height: 18px;
  }


  .font-weight-400 {
    font-weight: 400;
  }
  
  .text-size-14 {
    font-size: 14px;
  }
  
  .line-height-21 {
    line-height: 21px;
  }

  @media (max-width: 375px) {
    
  }